.site-card-wrapper {
    padding: 30px;
    border-color: black;
    border-width: medium;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.question-card-component {
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -32vw;
}

.center-text{
    text-align: center;
}

.custom-card{
    margin: 50px;
    margin-left: 115px;
    margin-bottom: 54px;
    height: 650px;
    width: 1300px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}

.back-property {
    background-color: '#519692';
    display: 'flex';
    background-image: url('../../images/plain.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}